pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.DS_Store
.lsp/sqlite.5.db
sinewave/dev-target/*
sinewave/log
.clj-kondo/*
sinewave/target/*
sinewave/.clj-kondo/*
.gitignore
sinewave/.calva/output-window/output.calva-repl
sinewave/.lsp/sqlite.5.db
